.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
    color: white;
    margin-top: 20px;
}
  
.available {
    background-color: green;
}
  
.occupied {
    background-color: red;
}

.seating-plan-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommend{
    -webkit-text-stroke-color: blue;
}